[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/nix/store/jf0k5xgqhcp091sqs51bxzqzbfrjih2w-wl-clipboard-2.2.1/bin/wl-paste --watch /nix/store/cha3vpyi4ipjw55vsfxjha8ykyycyj1v-cliphist-0.6.1/bin/cliphist -max-dedupe-search 10 -max-items 100 store
Restart=on-failure
Type=simple

[Unit]
After=graphical-session.target
Description=Clipboard management daemon
PartOf=graphical-session.target
