[Install]
WantedBy=graphical-session.target

[Service]
Environment=PATH=/home/krish/.nix-profile/bin
ExecStart=/nix/store/gyyjkgihnc4nadcbsqsm22diqwl0kmg2-kdeconnect-kde-25.04.3/bin/kdeconnect-indicator
Restart=on-abort

[Unit]
After=graphical-session.target
After=tray.target
Description=kdeconnect-indicator
PartOf=graphical-session.target
Requires=tray.target
