[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/nix/store/jcw45mfkpvzmmj6phbhxmdlra248g22l-quickshell-0.2.0/bin/quickshell
Restart=on-failure

[Unit]
After=graphical-session.target
Description=quickshell
Documentation=https://quickshell.outfoxxed.me/docs/
