[Install]
WantedBy=graphical-session.target

[Service]
Environment=PATH=/home/krish/.nix-profile/bin
ExecStart=/nix/store/gyyjkgihnc4nadcbsqsm22diqwl0kmg2-kdeconnect-kde-25.04.3/bin/kdeconnectd
Restart=on-abort

[Unit]
After=graphical-session.target
Description=Adds communication between your desktop and your smartphone
PartOf=graphical-session.target
