[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/nix/store/djcjl2839pr6pzlz221gnq31gj3snm2z-poweralertd-0.3.0/bin/poweralertd 
Restart=always
Type=simple

[Unit]
After=graphical-session.target
Description=UPower-powered power alerter
Documentation=man:poweralertd(1)
PartOf=graphical-session.target
