[Install]
WantedBy=graphical-session.target
WantedBy=tray.target

[Service]
ExecReload=/nix/store/ih779chzzag1nm91fgnrndml4mghm3la-coreutils-9.7/bin/kill -SIGUSR2 $MAINPID
ExecStart=/nix/store/l4bhdnvya4b3kqz64fimgrsk5mvr8v84-waybar-0.14.0/bin/waybar
KillMode=mixed
Restart=on-failure

[Unit]
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
Documentation=https://github.com/Alexays/Waybar/wiki
PartOf=graphical-session.target
PartOf=tray.target
X-Restart-Triggers=/nix/store/41s7w8qa0gqppib8295pl23963ir29vg-waybar-config.json
X-Restart-Triggers=/nix/store/p10zv73szq4ggjvp8wm3qn1359w4qly5-waybar-style.css
