[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/nix/store/qk6bmp0nwnsplqsz4s9ycrcblzgbzd2n-wlsunset-0.4.0/bin/wlsunset -S 06:30 -T 7000 -g 1.000000 -s 18:00 -t 5000

[Unit]
After=graphical-session.target
Description=Day/night gamma adjustments for Wayland compositors.
PartOf=graphical-session.target
