[Install]
WantedBy=default.target

[Service]
BusName=org.mpris.MediaPlayer2.playerctld
ExecStart=/nix/store/zdiwrx8wyznl14qac8py1k4m6lms5gq0-playerctl-2.4.1/bin/playerctld
Type=dbus

[Unit]
Description=MPRIS media player daemon
